*{
	padding: 0;
	margin: 0;
}
div,article,img{
	border: solid 1px #999;	
}
body{
   font-family:  "微软雅黑";
}
body>div{
	margin:20px;
	padding: 20px;
	background-color: #eee;
	//position: relative;
}
.group{
	width: 200px;
	position: relative;
	float:left;
	clear: both;
	background-color: white;
}
.group img{
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin: 20px;
}
.group span{
	vertical-align: top;
    position: absolute;
    top: 20px;
}

.logo{
	float:right;
	width: 120px;
	//position: absolute;
	//right: 20px;
	background-color: white;
}
.logo ul li{
	list-style: none;
	margin: 10px 20px;
}
.logo img{
	width: 80px;
	height: 80px;
}


article{
	padding: 20px;
	margin-left: 220px;
	margin-right: 140px;
	background-color: white;
}
article h1{
	font-size: 20px;
	margin-bottom: 10px;
}
article p{
	margin-bottom: 5px;
}
.clear{
    clear: both;
    border: 0;
}